[2017-10-25 15:14] hvdsomp opened #1 "request to register "cite-as" link relation type"
Enter the details of the link relation type below:

* Relation Name: cite-as
* Description: A link with the "cite-as" relation type indicates that the link target is preferred over the link context for the purpose of referencing.
* Reference: Van de Sompel, H., Nelson, M.L., Bilder, G., Kunze, J., and Warner, S. (August 2017) cite-as: A Link Relation to Convey a Preferred URI for Referencing. http

[2017-10-26 03:24] mnot commented on #1
Approved; IANA request made. Please stand by, as we're still working out the kinks.

[2017-10-26 04:22] hvdsomp commented on #1
On Oct 25, 2017, at 21:24, Mark Nottingham <notifications@github.com> wrote:

Thanks!!!

Talking about The Kinks: I saw them live in 1970 at Jazz Bilzen in Belgium. I was 13; my brother snuck me in because I was such a massive fan. There’s this timepiece video from Belgian TV: https://m.youtube.com/watch?v=2V6LMhzWDiY My brother enters the scene at 1:28, The Kinks at 20:10.  Sorry but I couldn’t k

[2017-11-03 04:49] #1 closed

[2018-03-07 23:48] ronaldtse opened #2 "Request to register: `news`"
Enter the details of the link relation type below:

* Relation Name: `news`
* Description: This link provides news on the subject itself. No restrictions are placed on the content of the destination link; its contents may be structured (RSS/Atom) or unstructured.
* Reference: None yet -- if a draft is necessary we can write one 😉

Any additional information (this will not be included in the regist

[2018-03-20 01:18] cguess opened #3 "Request to register ‘tor’"
Enter the details of the link relation type below:

* Relation Name: ‘tor’
* Description: Many organizations are beginning to offer hosted services and web sites that are only accessible via the TOR network. These TOR hidden services usually offer mirrored versions of the company’s products, but with the added benefit of anonymity of the user. These services can also often be accessed even in the

[2018-03-27 03:17] mnot commented on #2
Hi,

Sorry for the delay; IETF London got in the way.

A specification reference is required; best is an RFC or a W3C document, but something published by another organisation is fine, as long as it's stable. Do you have somewhere to do that?

Regarding the description:

Link relations can't disallow content, so the phrase at the end is superfluous. I'd recommend:

Does that work for you?

Looking

[2018-03-27 03:25] mnot commented on #3
Hi,

A reference is required for registration. Ideally that would be an RFC or W3C document, but something hosted by another organisation would also work, provided it's a stable URL.

Here, the most logical place would be somewhere on https://www.torproject.org/

If you haven't already, I'd recommend starting a discussion in the Tor community to make sure that there's agreement there about how to

[2018-09-26 06:30] dr-shorthair opened #4 "Temporal interval relation: intervalAfter"
Enter the details of the link relation type below:

* Relation Name: intervalAfter
* Description: If a proper interval T1 is intervalAfter another proper interval T2, then the beginning of T1 is after the end of T2.
* Reference: [W3C OWL-Time clause 4.2.21](https://www.w3.org/TR/owl-time/#time:intervalAfter)

Any additional information (this will not be included in the registry)?

This is one of a

[2018-09-26 06:59] reschke commented on #4
The description ought to be useful to somebody who doesn't know the spec...

[2018-09-26 07:04] algermissen commented on #4
Do I understand this correctly, you are about to use the IANA link relation registry to define the semantics of the world based on OWL?

Three questions:

What is the use case you have in mind for eg temporal relationships expressed as hypermedia links?

Where will you stop? Is the scope only the temporal rels? If so, why only those?

Last time I checked RDF hat all the proper ecosystem in place f

[2018-09-26 07:53] dr-shorthair commented on #4
@reschke The description is an extract from the spec, but I think it is logically and mathematically correct and can stand alone. I've added the key diagram as well - is this better?

@algermissen No that is not the intention. These link relations are from Allen's work. Yes, OWL-Time is an OWL ontology, but the relations are defined independently of that formalization.  I understood that the IANA

[2018-09-26 08:01] reschke commented on #4
The purpose of the description in the registry is to give the reader an idea about what the link relation is - so no, neither an extract of text that assumes knowledge of the spec not a diagram will work.

[2018-09-26 08:04] algermissen commented on #4
"Knowing that a lecture overlaps lunchtime might be useful information." - Fair enough, I get that. So you are thinking about Web resource that represent 'things'[1] that *have* an interval and not only intervals as such (which was my interpretation of your intention).

So, for 'things' that are events, places, areas I see your point in why having such link relation types makes sense.

Thanks for

[2018-09-26 08:07] dr-shorthair commented on #4
OK - rephrasing:

- Relation Name: intervalAfter
- Description: refers to a resource associated with a time interval that ends before the beginning of the time interval associated with this resource
- Reference: [W3C OWL-Time clause 4.2.21](https://www.w3.org/TR/owl-time/#time:intervalAfter)

[2018-09-26 08:14] algermissen commented on #4
Using 'context' would be better, IMHO:

`Description: refers to a resource associated with a time interval that ends before the beginning of the time interval associated with the context resource`

[2018-09-27 01:39] dr-shorthair commented on #4
Rephrasing corrected:

- Relation Name: intervalAfter
- Description: refers to a resource associated with a time interval that ends before the beginning of the time interval associated with the context resource
- Reference: [W3C OWL-Time clause 4.2.21](https://www.w3.org/TR/owl-time/#time:intervalAfter)

Next steps:
1. rinse and repeat for the full set
2. Add them to https://github.com/link-relati

[2018-10-08 02:40] mnot commented on #4
Yes.

[2018-10-09 02:30] dr-shorthair commented on #4
Good, see #5

[2018-11-23 05:58] mnot commented on #4
Approved and merging. This is the first time we've done a PR-to-IANA process, so please stand by...

[2018-11-23 06:02] mnot commented on #3
No response, so closing. Please feel free to supply the requested information and we'll close.

[2018-11-23 06:02] #3 closed

[2018-11-23 06:02] mnot commented on #2
No response, so closing. Please feel free to supply the requested information and we'll reconsider.

[2018-11-23 06:02] #2 closed

[2018-11-23 09:31] dret commented on #4
mirroring @algermissen's concerns, this seems a bit odd, and possibly not quite what link relations mostly are used for. @dr-shorthair responded to those concerns that "the relations are defined independently of that formalization", but that's probably true for the majority of predicates in any given ontology.
it might be interesting for @hvdsomp to have a look here, as this seems to replicate (in

[2018-11-23 09:38] dret commented on #4
in a more procedural note: shouldn't https://www.w3.org/TR/owl-time/ then have an "IANA Considerations" section that identifies the link relations that it contributes to the registry? The spec defines many more predicates, and it would be useful to understand which ones it adds to the registry, and why that selection has been chosen.

[2018-11-23 09:41] dret commented on #4
last but not least: aren't those predicates defined in a way that's very specific to their usage within the OWL ontology? the ontology restricts their range in very specific ways, which makes sense in the strictly typed realm of that ontology. how does that translate into the link relations? isn't that something that needs to be addressed when the definition refers to the ontology, which in turn h

[2018-11-23 22:05] mnot commented on #4
Just to set expectations here -- this repo manages the procedure of registering new link relations. The experts' job is to apply the [criteria in RFC8288](https://tools.ietf.org/html/rfc8288#section-2.1.1.1), not decide whether a link relation is useful, etc.

So while discussion and guidance is appreciated, if you want to change a community's mind about how it's using link relations, the best pla

[2018-11-24 09:34] dret commented on #4
On 2018-11-23 23:05, Mark Nottingham wrote:

fair enough.

the github link was the first and only time i saw this being brought up.
https://www.ietf.org/mail-archive/web/link-relations/current/maillist.html
doesn't seem to have any announcement or discussions either. where
was/is the community discussion happening?

[2018-11-25 21:56] dr-shorthair commented on #4
thanks for the suggestions @dret - I was unsure how to navigate this whole system, so just followed the basic instructions. Of course happy to add any additional recommended steps. No, there was no announcement on the list. There probably should have been.

Addressing some of your specific concerns:

1. The definitions in the PR follow the pattern bashed out in the brief conversation above, which

[2019-02-10 21:28] dr-shorthair commented on #4
Temporal interval relations were added to IANA registry at the beginning of December 2019.

[2019-02-12 14:15] chris-little commented on #4
I assume you mean 2018-12, not in 10 months time ;-)

[2019-06-06 05:57] dr-shorthair commented on #4
Corrected.

[2019-06-06 06:10] dr-shorthair commented on #4
@dret I see that I closed this but had not addressed the IANA considerations issue that you raised.

Looking in a couple of recent W3C documents that have contributed entries into IANA registries, I see these examples:
- https://www.w3.org/TR/powder-dr/#appD
- https://www.w3.org/TR/resource-hints/#iana-considerations

@chris-little , @lvdbrink @tidoust should we knock this out as an addendum?

[2019-06-13 13:46] chris-little commented on #4
@dr-shorthair @lvdbrink I am not averse and it seems a good idea, and would desirably increase exposure of the ontology.

I suppose we keep this separate from the instand/interval discussion as that would affect the normative text?

[2019-07-14 20:05] dr-shorthair commented on #4
I have prepared an amendment to the [W3C OWL-Time recommendation](https://www.w3.org/TR/owl-time/) which [adds an IANA Considerations section](https://rawgit.com/w3c/sdw/time-iana-considerations/time/#iana-links) formally describing the link relations that were added to the IANA registry back in December 2018.

[2019-07-15 01:45] dret commented on #4
On 2019-07-14 22:05, Simon Cox wrote:

wow, thanks! looks like this is the perfect way to do it!

[2019-07-17 18:32] dr-shorthair commented on #4
(I also found a cut-and-paste bug which has now been fixed in the IANA registry as well.)

[2019-07-18 15:27] martinthomson opened #8 "amphtml relation type"
Enter the details of the link relation type below:

* Relation Name: amphtml
* Description: Used to reference alternative content that uses the AMP profile of the HTML format.
* Reference: https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml/

Any additional information (this will not be included in the registry)?

[2019-07-18 16:59] dret commented on #8
On 2019-07-18 08:27, Martin Thomson wrote:

just wondering: isn't one of the requirements of registered relation
types to not determine the media type of the linked resource?

in other words, wouldn't that be something to be covered by an
"alternate" link with a media type hint of the AMP media type?

[2019-07-19 20:37] martinthomson commented on #8
This is very much not an endorsement of the design. An "alternate" relation type would work if not for the fact that AMP uses an HTML media type. That raises an interesting question about how to signal this condition properly.

I opened this issue merely to avoid having unaccounted squatting on code points. I am not that invested in solving AMP's problems.

[2019-07-21 15:13] mnot commented on #8
The relevant portion of 8288:

   link context and MUST NOT constrain the available representation
   media types of the link target.

The wording here doesn't violate the letter of this, but certainly the spirit isn't being honoured.

OTOH the purpose of the registry is to record what's in use, and indeed this is in use.

Has anyone talked to folks in that community about this use, and whether it

[2019-09-05 04:01] mnot commented on #4
Is there anything that needs to change in the registry as of now, or can we close this issue?

Thanks,

[2019-09-05 04:05] dr-shorthair commented on #4
OK to close

[2019-09-05 04:09] #4 closed

[2019-09-05 04:24] mnot opened #9 "HTML types"
Catching up with some relations defined in HTML5:

---
* Relation Name: external
* Description: refers to a resource that is not part of the same site as the current context
* Reference: https://html.spec.whatwg.org/multipage/links.html#link-type-external

---

* Relation Name: modulepreload
* Description: refers to a module that the user agent is to preemptively fetch and store for use in the cur

[2019-09-05 04:44] mnot opened #10 "Apple touch relations"
Apple defines a few link relations:

---

* Relation Name: mask-icon
* Description: refers to a mask that can be applied to the icon for the context.
* Reference: https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/pinnedTabs/pinnedTabs.html#//apple_ref/doc/uid/TP40002051-CH18-SW1

---

* Relation Name: apple-touch-icon
* Description: refers to an

[2019-09-05 05:01] mnot opened #11 "P3Pv1"
Enter the details of the link relation type below:

* Relation Name: P3Pv1
* Description: refers to a P3P privacy policy for the context
* Reference: https://www.w3.org/TR/P3P/#syntax_link

Any additional information (this will not be included in the registry)?

[2019-09-05 05:07] mnot opened #12 "Register OpenID2 link relations"
* Relation Name: openid2.provider
* Description: refers to a resource which accepts OpenID Authentication protocol messages for the context
* Reference: https://openid.net/specs/openid-authentication-2_0.html#rfc.section.7.3.3

---

* Relation Name: openid2.local_id
* Description: refers to an OpenID Authentication server on which the context relies for an assertion that the end user controls an I

[2019-09-05 05:08] mnot commented on #12
@bradfitz do these look about right? (just getting the link relation registry up-to-date)

[2019-09-05 05:09] mnot opened #13 "Micropub"
* Relation Name: micropub
* Description: links to the context's Micropub endpoint
* Reference:  https://www.w3.org/TR/micropub/#endpoint-discovery-p-1

[2019-09-05 05:12] mnot opened #14 "manifest"
* Relation Name: manifest
* Description: links to a manifest file for the context
* Reference: https://www.w3.org/TR/appmanifest/#using-a-link-element-to-link-to-a-manifest

[2019-09-05 05:13] mnot commented on #14
@marcoscaceres please review?

[2019-09-05 20:59] marcoscaceres commented on #14
Looks good :)

[2019-09-05 22:53] mnot commented on #14
Thanks, Marcos. I updated the reference to use the TR link.

[2019-09-09 05:40] dr-shorthair commented on #14
The Web App Manifest is a clearly specified link in the context of web applications. However, there may be other contexts within which a link to an inventory or manifest is useful - for example the [Profile vocabulary](https://raw.githack.com/w3c/dxwg/prof-3PWD-candidate/prof/#conceptualmodel) currently under development by the W3C Data Exchange Working Group defines what is essentially a manifest

[2019-09-11 09:40] annevk commented on #9
That's correct and the descriptions seem good enough too. Also, no 5. 😊

[2019-09-23 05:10] marcoscaceres commented on #14
Yes. We are claiming that relation name to mean something very specific - and with very specific processing requirements (per the web manifest spec).

[2019-09-23 06:52] mnot opened #15 "New Google relations in the wild"
`ugc` and `sponsored`. See https://webmasters.googleblog.com/2019/09/evolving-nofollow-new-ways-to-identify.html

[2019-09-26 01:50] #9 closed

[2019-09-26 01:51] #10 closed

[2019-09-26 01:51] #11 closed

[2019-09-26 01:51] #12 closed

[2019-09-26 01:51] #13 closed

[2019-09-26 01:51] #14 closed

[2019-09-27 00:45] mjkoster opened #16 "ruleinput relation type"
We would like to pre-register the "ruleinput" link relation type. The specification for the use of this type will be available for review later this year.

* Relation Name:
ruleinput

* Description:
The resource identified by the link target provides an input value to an instance of a rule, where the resource which represents the rule instance is identified by the link context.

* Reference:
OCF C

[2019-10-28 00:36] mnot commented on #8
@tobie could you possibly help us out here?

[2019-10-28 04:26] mnot commented on #16
We can informally reserve the name, but can't register it until you give us a publicly available reference.

Sorry for not explicitly answering this earlier.

[2019-10-28 04:30] mnot commented on #15
Proposal:

* Relation Name: ugc
* Description: Refers to a resource that is within a context that is User Generated Content.
* Reference: https://webmasters.googleblog.com/2019/09/evolving-nofollow-new-ways-to-identify.html

and

* Relation Name: sponsored
* Description: Refers to a resource that is within a context that is sponsored (such as advertising or another compensation agreement).
* Refer

[2019-10-28 04:33] mnot commented on #15
@garyillyes do these look reasonable?

[2019-10-28 11:22] tobie commented on #8
For existing AMP content, I think this ship has sailed. There are billions of AMP web pages in the wild and thus, I imagine, a similar number of canonical web pages linking to them. Getting even a small portion of those to link differently to their AMP representation would be a huge undertaking and wouldn't solve the necessity of documenting the existing situation for all of the other ones.

No. A

[2019-10-28 14:55] mjkoster commented on #16
Yes, this will be OK. The document will be published after OCF member review.

Thanks and best regards,

Michael

[2019-10-29 03:52] mnot commented on #8
Fair enough, thanks. @tobie does the description above look reasonable to you?

[2019-11-05 17:14] garyillyes commented on #15
yup! sorry, i wasn't aware of this registry when we announced these new rels

[2019-11-24 23:50] #15 closed

[2019-11-28 11:24] cportele opened #17 "request to register "conformance", "data", "items""
Enter the details of the link relation type below:

1.
* Relation Name: conformance
* Description: Refers to a resource that identifies the specifications that the link’s context conforms to.
* Reference: [OGC API - Features - Part 1: Core, 5.2. Link relations](http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_link_relations)

2.
* Relation Name: data
* Description:  Indicates that the lin

[2019-11-28 11:38] algermissen commented on #17
Hi Clemens,

I'd say there is some overlap with https://tools.ietf.org/html/rfc6573  wrt 'items'

What do you think?

Jan

[2019-11-28 11:51] cportele commented on #17
Hi Jan,

the standard is also using both `item` and `collection`. The reason for `items` is that between the collection resource and the item resources we have an intermediate items resource that gives paged access to all items in the collection. The reason for not including the items in the collection resource representation is that there are often many of them (thousands / millions) and it is us

[2019-11-28 13:13] evert commented on #17
’data‘ seems like a very generic keyword for such a specific purpose. After all, everything is data.

[2019-11-28 13:34] reschke commented on #17
On 28.11.2019 14:14, Evert Pot wrote:

+1000

[2019-11-28 13:40] cportele commented on #17
I see the point. I guess we should then drop this one for now and consider changing it to a more specific name in a future revision of the spec.

[2019-11-28 23:35] mnot commented on #17
H @cportele,

As others have noticed, these are very generic terms. Generally, we avoid using generic terms defined for specific applications; even if the description is broad, people tend to assume that being defined as part of a narrow specification (like OGC) restricts them to that use.

Because of that, I think there are two possible paths forward:

1. Extract these relation types from this sp

[2019-11-29 07:23] cportele commented on #17
Thanks for the feedback. I will take the discussion on the way forward back to OGC and closes this here.

[2019-11-29 07:23] #17 closed

[2019-12-19 15:35] iherman opened #18 "'publication' link relation request"
Enter the details of the link relation type below:

* Relation Name: publication
* Description: Links to a publication manifest. A manifest represents structured information about a publication, such as informative metadata, a list of resources, and a default reading order.
* Reference: https://www.w3.org/TR/pub-manifest/#link-relation-type-registration

Any additional information (this will not b

[2020-01-06 03:13] mnot commented on #18
Hi Ivan,

One question -- is there any reason `manifest` (already registered) can't be used?

[2020-01-06 08:02] iherman commented on #18
Hi @mnot,

A [web application manifest](https://www.w3.org/TR/appmanifest/) (target of `manifest`) and the [publication manifest](https://www.w3.org/TR/pub-manifest/) (target of `publication`) are very different functionally and even syntactically. The syntax of the latter abides by JSON-LD, relating it to schema.org, which is absolutely not the case for the former; the 'target' processor is diffe

[2020-01-07 06:40] mnot commented on #18
I understand that they're different syntactically, but that can be indicated by the `type` attribute of the link. Remember that link relations aren't supposed to specify a particular syntax, since that's the function of a media type.

What I'm curious about is how are they different functionally / semantically; it's not clear from reading the description.

[2020-01-07 10:16] iherman commented on #18
A Web Application manifest is processed by a browser, installing an ["Installable Web Application"](https://www.w3.org/TR/appmanifest/#installable-web-applications). The semantics of the manifest itself (i.e., the specified terms and their meaning) is about that usage, obviously, like icons, colors, or the description of the application. The processing of a web app manifest (to be executed by a br

[2020-01-07 12:52] mattgarrish commented on #18
I'd only add that the publication manifest is more akin to the EPUB package document than an installable web application, if that helps differentiate the uses.

While the existing definition of manifest is sufficiently vague, the practical implementation of the term for web apps makes it unsuitable for publications, as Ivan has noted.

I wonder if we can perhaps avoid any sense of duplication by t

[2020-01-07 12:55] mattgarrish commented on #18
And just to clarify, this is meant only in the general case. As noted above, you could make a publication that is installable, but that's not a primary case of the specification. Keeping the relations separate allows both cases to exist independently.

[2020-01-08 00:22] mnot commented on #18
Registration requested. Thanks for the details.

[2020-01-08 03:28] #18 closed

[2020-01-08 07:43] iherman commented on #18
@mnot thanks. Just process questions: is there anything we have to do now, or are all subsequent steps automatic and we will just be notified?

[2020-01-08 08:08] mnot commented on #18
It's already in the registry.

[2020-01-13 05:09] tobie commented on #8
Absolutely. Sorry for the delay in getting back to you; I thought I had answered this.

[2020-01-21 23:07] #8 closed

[2020-04-01 23:51] aarongustafson opened #19 ""manifest" link type"
Enter the details of the link relation type below:

* Relation Name: manifest
* Description: Refers to the JSON-based manifest file that provides metadata associated with the current document.
* Reference: https://www.w3.org/TR/appmanifest/

[2020-04-01 23:52] aarongustafson commented on #19
Related: w3c/manifest#778

[2020-04-02 00:13] mnot commented on #19
The registry already includes `manifest`, with the description "Links to a manifest file for the context." See #14 for background.

Would you like a change to the description? If so, note that the guidance for the registry is that relation types shouldn't specify a media type for what's found at the link.

cc @marcoscaceres

[2020-04-02 00:15] marcoscaceres commented on #19
heh, lol.... I'd totally forgot we added this. I think we will want to update the description, and then get it to point to HTML (where the other "Link type X"s are defined).

[2020-04-02 00:19] mnot commented on #19
Cool. Can you suggest an updated description and link, taking the above into account?

[2020-05-26 00:09] aarongustafson commented on #19
@mnot Let’s go with this.

- description: Refers to the JSON-based manifest file that provides metadata associated with the current document.
- link: https://html.spec.whatwg.org/multipage/links.html#linkTypes

I am working on a PR to the HTML spec for this to be added at the link.

[2020-05-26 01:42] mnot commented on #19
Sorry, I should have said -- link relation type descriptions are discouraged from specifying a format, because that's what `type` is for. Also, "provides metadata associated with" is extremely broad, and the preferred technology is "context", not "document", because it's not always a whole document that's the context of the link.

That leaves us with something that looks like the current descripti

[2020-05-26 04:03] marcoscaceres commented on #19
We shouldn't need anything special here.

Yeah, we only need this :) We hope to have the link next week. @aarongustafson will prepare a PR for HTML and we will report back once merged.

[2020-06-10 17:17] beccahughes opened #20 "new "media-feed" type"
Enter the details of the link relation type below:

* Relation Name: media-feed
* Description: Refers to a feed of personalised media recommendations relevant to the link context
* Reference: https://wicg.github.io/media-feeds/#discovery-of-media-feeds

Any additional information (this will not be included in the registry)?

[2020-06-11 03:26] mnot commented on #20
Hi,

It would be great if you could restate the description in terms of how the context relates to the target URI -- e.g., "Refers to a feed of personalised media recommendations relevant to the link context."

[2020-06-11 16:30] beccahughes commented on #20
Sure, done

[2020-06-19 06:13] mnot commented on #20
Registration request made to IANA. It's not mandatory, but it might be helpful if you added this to <https://wicg.github.io/media-feeds/#iana>.

[2020-06-21 06:32] #20 closed

[2020-07-07 08:30] dunglas opened #21 "Registration Request: mercure"
Please confirm that:

* [x] You have read and understood the [requirements for registration](https://tools.ietf.org/html/rfc8288#section-2.1.1).
* [x] You have checked [the registry](https://www.iana.org/assignments/link-relations/) and found no current link relation types that meet your needs.
* [x] Your specification reference URL is stable; ideally, managed by a widely-recognised standards deve

[2020-07-08 05:27] mnot commented on #21
Hello,

The specification document you list is an Internet-Draft that isn't currently on any stream (IETF, IAB, Independent or IRTF), and as such isn't a suitable reference for registration. Once it's on a stream, it can be considered for provisional registration, becoming permanent when it's an RFC.

Thank you,

[2020-08-19 16:35] jyasskin opened #22 "Definitions in [HTML] have moved, breaking `alternate`"
* Relation Name: alternate
* Requested Change(s): The registry points to http://www.w3.org/TR/html5/links.html#link-type-alternate, but the definition is actually at https://html.spec.whatwg.org/multipage/links.html#rel-alternate. It looks like all the other HTML link types, while pointing to http://www.w3.org/TR/html5/links.html, have the right anchor, so the redirect to https://html.spec.whatwg.

[2020-08-19 16:41] jyasskin commented on #19
I believe the correct link is now https://html.spec.whatwg.org/multipage/links.html#link-type-manifest.

[2020-08-24 02:42] mnot commented on #22
I feel like that might be an oversight in HTML -- if all of the relation types except for one has a particular form of link target?

@annevk?

Overall though, yes, we should update the links to point to WHATWG HTML.

[2020-08-24 07:27] annevk commented on #22
The others are derived from the heading. This one had its own ID since 2010: https://github.com/whatwg/html/commit/cd22a8fb22ae0a8d3c3f9fa4940260ba5e8dc0dd. I guess the W3C regressed that at some point. I'll see if others are okay with supporting both.

[2020-08-30 11:06] annevk commented on #22
That was a bit more involved than one would hope for, but link-type-alternate is a supported alternative ID now.

[2020-08-31 04:18] mnot commented on #22
Request sent to IANA:

Please update the specification references for following entries in the Link Relation Types registry as follows:

- alternate
- author
- bookmark
- external
- help
- icon
- modulepreload
- next
- nofollow
- noopener
- noreferrer
- opener
- prev
- stylesheet
- tag

In each case, the specification reference should be prefixed 'https://html.spec.whatwg.org/multipage/links.html#

[2020-09-02 02:16] #22 closed

[2020-09-11 05:13] marcoscaceres commented on #19
Indeed. Thanks @jyasskin!

[2020-09-29 22:02] marktrayer commented on #16
Apologies for the delay in providing this; the value is defined in the following published/public OCF specification: https://openconnectivity.org/specs/OCF_Core_Optional_Specification_v2.2.0.pdf

[2020-10-05 02:27] mnot commented on #16
Relation Name: ruleinput

Description: The resource identified by the link target provides an input value to an instance of a rule, where the resource which represents the rule instance is identified by the link context.

Reference: https://openconnectivity.org/specs/OCF_Core_Optional_Specification_v2.2.0.pdf

[2020-10-05 23:57] #16 closed

[2020-10-16 09:21] hvdsomp opened #23 "Request to register "linkset" link relation type"
Please confirm that:

* [x] You have read and understood the [requirements for registration](https://tools.ietf.org/html/rfc8288#section-2.1.1).
* [x] You have checked [the registry](https://www.iana.org/assignments/link-relations/) and found no current link relation types that meet your needs.
* [x] Your specification reference URL is stable; ideally, managed by a widely-recognised standards deve

[2020-10-18 23:49] mnot commented on #23
Holding this until the I-D is adopted on a stream.

[2020-11-02 00:29] marcoscaceres commented on #19
@mnot, gentle ping. The conclusion was to retain the current description and just update the link to the HTML spec:
https://html.spec.whatwg.org/multipage/links.html#link-type-manifest

[2020-11-17 02:06] #19 closed

[2020-12-10 06:58] hvdsomp commented on #23
The I-D was on the agenda of the recent/first meeting of the IETF HTTP API WG. Does this qualify for the “adopted on a stream” criterium, in which case “linkset” could be added to the Link Relation Type registry now?

[2020-12-23 06:19] mnot commented on #23
Hi Herbert,

I see that there's a Call for Adoption out now. Assuming that it's adopted, we usually register when things are a bit more advanced (around WGLC, or even later), to make sure that there aren't any changes along the way. Consider it reserved here; I'll leave this issue open as a reminder.

[2020-12-23 08:22] hvdsomp commented on #23
OK, thanks, @mnot!

[2021-01-26 20:53] evert opened #24 "Authentication-related link relations"
Please confirm that:

* [X] You have read and understood the [requirements for registration](https://tools.ietf.org/html/rfc8288#section-2.1.1).
* [X] You have checked [the registry](https://www.iana.org/assignments/link-relations/) and found no current link relation types that meet your needs.
* [ ] Your specification reference URL is stable; ideally, managed by a widely-recognised standards deve

[2021-01-28 06:22] mnot commented on #24
Hi evert,

We generally don't register relations in Internet-Drafts until they're adopted by a WG, and often not until they're almost published. An unadopted I-D is not considered a stable reference.

I'll leave this open to soft-reserve them in case they do progress.

Cheers,

[2021-07-22 17:48] sbp opened #25 "Offer JSON-LD as an export option"
If you wanted to offer JSON-LD as an export option, alongside the existing CSV, here is a script that converts the CSV to JSON-LD. Cf. https://github.com/mnot/I-D/issues/140

[code]

[2021-07-22 17:48] sbp opened #26 "CSV is Malformed"
In working on the script in #25 to parse [link-relations-1.csv](https://www.iana.org/assignments/link-relations/link-relations-1.csv) I discovered that the current link-relations CSV is malformed. The `profile` entry is wrapped without indent.

[2021-07-22 17:53] sbp commented on #25
[code]

\*cough\*

[2021-07-22 19:53] sbp commented on #26
Actually it is RFC 4180 compliant CSV. I thought a custom variant was being used, due to an error in CSV parser usage.

[2021-07-22 19:53] #26 closed

[2021-07-22 19:57] sbp commented on #25
Even easier when you use the standard CSV parser correctly:

[code]

[2021-07-22 23:54] mnot commented on #25
Not sure what to do with this -- if we want the RFC Editor to produce another format, that's a somewhat involved thing on their side; doable, but given that the format isn't blessed by an RFC, it might not be easy.

[2021-07-23 00:29] sbp commented on #25
Oh, is that a requirement or just something they prefer? The [link relations page](https://www.iana.org/assignments/link-relations/link-relations.xhtml) itself uses XHTML 1.0, which is a W3C REC (since 2000) just like JSON-LD (1.0 since 2013, 1.1 since 2020). And the media type for JSON-LD has [been registered](https://www.iana.org/assignments/media-types/application/ld+json) at the IANA since 201

[2021-07-23 01:10] mnot commented on #25
I don't want to put words in their mouth, but AIUI IANA have a very large number of registries to maintain, so creating special processes for a given registry create extra burden (ideally, registries should all work in the same fashion). It's possible for them to do that (and indeed in my experience they're very willing to help), but if we ask them to do something special, it should be based upon

[2021-07-23 08:23] sbp commented on #25
Thanks. Meanwhile I'm continuing to improve the script as a gist:

https://gist.github.com/sbp/57d4785ed46ea7039a5606fd9752b10f

[2021-07-23 10:16] sbp opened #27 "Request to register application-figure"
Please confirm that:

* [Y] You have read and understood the [requirements for registration](https://tools.ietf.org/html/rfc8288#section-2.1.1).
* [Y] You have checked [the registry](https://www.iana.org/assignments/link-relations/) and found no current link relation types that meet your needs.
* [Y] Your specification reference URL is stable; ideally, managed by a widely-recognised standards deve

[2021-07-23 10:17] sbp opened #28 "Request to register audio-figure"
Please confirm that:

* [Y] You have read and understood the [requirements for registration](https://tools.ietf.org/html/rfc8288#section-2.1.1).
* [Y] You have checked [the registry](https://www.iana.org/assignments/link-relations/) and found no current link relation types that meet your needs.
* [Y] Your specification reference URL is stable; ideally, managed by a widely-recognised standards deve

[2021-07-23 10:18] sbp opened #29 "Request to register figure"
Please confirm that:

* [Y] You have read and understood the [requirements for registration](https://tools.ietf.org/html/rfc8288#section-2.1.1).
* [Y] You have checked [the registry](https://www.iana.org/assignments/link-relations/) and found no current link relation types that meet your needs.
* [Y] Your specification reference URL is stable; ideally, managed by a widely-recognised standards deve

[2021-07-23 10:19] sbp opened #30 "Request to register image-figure"
Please confirm that:

* [Y] You have read and understood the [requirements for registration](https://tools.ietf.org/html/rfc8288#section-2.1.1).
* [Y] You have checked [the registry](https://www.iana.org/assignments/link-relations/) and found no current link relation types that meet your needs.
* [Y] Your specification reference URL is stable; ideally, managed by a widely-recognised standards deve

[2021-07-23 10:19] sbp opened #31 "Request to register video-figure"
Please confirm that:

* [Y] You have read and understood the [requirements for registration](https://tools.ietf.org/html/rfc8288#section-2.1.1).
* [Y] You have checked [the registry](https://www.iana.org/assignments/link-relations/) and found no current link relation types that meet your needs.
* [Y] Your specification reference URL is stable; ideally, managed by a widely-recognised standards deve

[2021-07-24 04:10] mnot commented on #25
I've had an initial discussion with IANA; they're interested, but within the framework of offering *all* registry data in a JSON format. This might take some time. If folks who are familiar with JSON-LD are willing to help them, that would be good to know.

[2021-07-24 12:14] sbp commented on #25
JSON-LD is quite simple, but add me to the list of people willing to help.

[2021-07-26 04:59] mnot commented on #27
It's still a constraint. What's the use case that you have for separating these relations out? note that target attributes often carry type information; e.g.,

[2021-07-27 22:28] sbp commented on #27
Yeah, but the subtype can't be a wildcard so you can't do this:

[code]

And some environments may lack a type hint altogether. Therefore the use case is effectively providing subtype-wildcarded media type information inside the relation itself.

Could you explain the motivation for forbidding any form of media type constraint in link relations?

At the moment, the figure-link-rels specification s

[2021-08-23 07:39] mnot commented on #27
Can you illustrate a case where it would make sense to mint a link pointing at a document with a wildcard type?

The requirement is there to prevent link relations to be used in a way that duplicates media types -- which is what you appear to be trying to do.

[2022-02-07 10:37] csarven opened #32 "Request to register "acl" link relation type"
Please confirm that:

* [X] You have read and understood the [requirements for registration](https://tools.ietf.org/html/rfc8288#section-2.1.1).
* [X] You have checked [the registry](https://www.iana.org/assignments/link-relations/) and found no current link relation types that meet your needs.
* [X] Your specification reference URL is stable; ideally, managed by a widely-recognised standards deve

[2022-02-07 12:18] timbl commented on #32
The rel=acl link has been used for a long time, too.

[2022-03-22 17:30] stain commented on #25
Bumping this and volunteering - few cycles available, but very interested in getting this done.

BTW, you use the prefix that would make <http://www.iana.org/assignments/relation/#terms-of-service> for link relation `terms-of-service` - while I think <http://www.iana.org/assignments/relation/terms-of-service> already works with redirect and was suggested earlier.

Seeing mnot/I-D#140 and mnot/I-D#

[2022-03-22 20:45] mnot commented on #25
The discussion with IANA is coming along, FWIW. They are definitely interested, AIUI.

[2022-03-23 08:33] dret commented on #25
On 2022-03-22 18:30, Stian Soiland-Reyes wrote:

it is something that many have expressed an interest in, more generally
speaking as a machine-readable version. there is one available (see
below) but it's JSON and not JSON-LD.

just being the broken record here: this is a red herring. neither of
those are actual identifiers for link relations. the identifier as per
the relevant spec is the string

[2022-03-28 01:02] mnot commented on #32
Sorry for the delay. This is fine, with a couple of tweaks:

* The description should use terminology from the RFC; i.e., 'link target' and 'link context'.

* Drop the last sentence of the description, as that's implied for all link relations unless stated otherwise (and I actually might request that IANA state so at the top of the registry).

* The reference URL should be to the pinpoint of the r

[2022-03-28 15:57] csarven commented on #32
Great, thank you. I've updated the Editor's Draft (ED) as per your recommendation: https://solid.github.io/web-access-control-spec/#acl-link-relation . We'll update TR/wac once the ED snapshot is approved for publication. Do you need that in before continuing with the process?

Some of the text in the #acl-link-relation section may change, e.g., once the relation type is in the registry, mention o

[2022-03-28 22:38] mnot commented on #32
The URI you've given is sufficient -- we generally try to avoid personal project URLs and the like. If it changes, just open a modification request. Thanks!

[2022-03-29 10:28] timbl commented on #32
I'd prefer " Description: Asserts that the link target provides an access control resource for the link context." as 'description' suggests extra optional data while the ACR is a crucial bit of the system.  A non-existent one has semantics. An empty one has different semantics. And so on.

[2022-03-29 20:53] mnot commented on #32
That works too -- @csarven?

[2022-04-04 15:56] deengi1 opened #33 "Request to register "sipTrunkingCapability" link relation type"
Please confirm that:

* [x] You have read and understood the [requirements for registration](https://tools.ietf.org/html/rfc8288#section-2.1.1).
* [x] You have checked [the registry](https://www.iana.org/assignments/link-relations/) and found no current link relation types that meet your needs.
* [x] Your specification reference URL is stable; ideally, managed by a widely-recognised standards deve

[2022-04-04 21:58] mnot commented on #33
Hi Derek,

I'm going to put this on hold until the document gets adopted into an IETF stream, when we'll register as Provisional; once it's published as a standards-track RFC, we can shift it to Permanent.

[2022-04-27 21:03] petersilva opened #34 "base"
Please confirm that:

* [x ] You have read and understood the [requirements for registration](https://tools.ietf.org/html/rfc8288#section-2.1.1).
* [x ] You have checked [the registry](https://www.iana.org/assignments/link-relations/) and found no current link relation types that meet your needs.
* [ x] Your specification reference URL is stable; ideally, managed by a widely-recognised standards d

[2022-04-28 00:17] mnot commented on #34
`base` isn't specified as a link relation by HTML, as far as I can see. You should first engage with them to get this change in their spec.

[2022-04-28 00:17] #34 closed

[2022-04-28 00:21] petersilva commented on #34
HTML doesn't need a "base" link relation, because they have the base element present (see linked standard reference), which can be used by all link types. in other words, all links elements can contain relative HREFs, which are already defined by the standard to be expected to use the BASE element. There will never be a "base" relation in the link element for HTML for that reason.

[2022-04-28 05:36] reschke commented on #34
AFAICT, this would be a breaking change, as it would change the interpretation of other links in a message.

[2022-04-28 06:34] dret commented on #34
On 2022-04-27 23:03, Peter Silva wrote:

this looks like it would potentially break many things in many places,
because supporting it or not would change the interpretation of other
(unrelated) protocol elements.

this is a good example for the potential problem. an implementation
supporting "base" would interpret the "item" link differently than an
implementation not supporting "base". this kind

[2022-04-28 12:07] petersilva commented on #34
Today, if link are within a web page, the HTML base element must already be honoured, so doesn't anyone interpreting links already have to deal with all those cases? Today, we have the case where all those cases must be honoured when embedded in a web page, but the same relations cannot be expressed when not in a web page because of this missing element.

Do you have a link to describe the anti-pa

[2022-04-28 12:12] reschke commented on #34
Anybody interpreting link relations already has to deal with relative links; yes. But the proposal changes the link context, so recipients implementing the new link relation will use a different base URI than those who do not. This is a breaking change.

[2022-04-28 12:47] dret commented on #34
On 2022-04-28 14:07, Peter Silva wrote:

typed links (i.e., links using link relations) are used in many more
places than just in HTML. there are many applications out there (many
more than the relatively few browsers) that use typed links, for example
for processing messages in APIs. all of these would break with the
proposed link relation.

[2022-04-28 12:56] petersilva commented on #34
How do relative links work in the proposed cases of breakage? my understanding is a relative link outside an HTML page is currently undefined,  How would someone know what the base URL of a link is in an API?  I've had several smart people tell me: "Don't use relative uri's..."  or that relative urls are not "of the web"... which seems to be common practice/belief, in which case the breakage would

[2022-04-28 14:47] petersilva commented on #34
@reschke Thank You!  I think what you are saying is that rather than having a relation, one can use the link context to specify an anchor url to provide the same benefit as a base relation.  But reading the standard, I don't see how to specify an anchor.  Can you provide an example of how it would be used?

[2022-04-28 15:18] reschke commented on #34
It's defined for links in HTML and in HTTP messages. If you take the link somewhere else, you'll have to define the mechanism for that type of context.

[2022-04-28 17:23] petersilva commented on #34
ah... ok back to square one... We don't need this relation for the html case because it has several methods for providing context for relative links, but outside HTML, it seems to be undefined.

[2022-04-28 17:31] reschke commented on #34
Hm no. It's defined for Link header fields as well, and will also be defined for the formats defined in draft-ietf-httpapi-linkset.

[2022-04-28 18:00] petersilva commented on #34
ok I misunderstood... trying to understand how to apply the standard.
Is this: https://www.ietf.org/archive/id/draft-ietf-httpapi-linkset-04.html#section-4.2 what you are referring to?
So looking at the examples there, and there are no relative links, in spite of the presence of an anchor.  I understand the anchor as a sort of parent object pointer, but I'm not sure if it is meant to be user as a

[2022-07-12 01:15] csarven commented on #32
@mnot , yes that works. We've actually updated the editor's draft as per @timbl 's suggestion and was in the process of publishing it at the reference URL (see backlinked PR referring to this issue.)

Should this issue be reopened? :) is there anything else we need to do on our end besides publishing the updated definition in the spec?

[2022-07-17 07:41] mnot commented on #32
Tell me when it's stable (e.g., you merge) and I'll update the registry.

Cheers,

[2022-07-26 20:27] Setland34 opened #36 "Sex.com"
* Relation Name:
* Requested Change(s):
* Your relationship to the original registrant:

[2022-07-26 22:33] #36 closed

[2022-09-15 06:20] csarven commented on #32
Thanks for your patience.

https://solidproject.org/TR/wac#acl-link-relation is accessible now.

[2022-09-28 16:10] csarven opened #44 "`reg-rel-type` rule and registered Link Relations"
https://datatracker.ietf.org/doc/html/rfc8288#section-2.1.1 states the following:

   (see [Section 3.3](https://datatracker.ietf.org/doc/html/rfc8288#section-3.3)) and MUST be compared character by character in a
   case-insensitive fashion.

and https://datatracker.ietf.org/doc/html/rfc8288#section-3.3 includes the following definition for `reg-rel-type`:

There are registered Link Relation type

[2022-09-28 23:28] #32 closed

[2022-10-01 17:07] deengi1 commented on #33
Hi Mark, just wanted to follow up on this link relation type. The ASAP working group has adopted the draft as of 9/30:

https://datatracker.ietf.org/doc/html/draft-ietf-asap-siptrunkingcapability-link

Thanks!

[2022-10-05 06:50] mnot commented on #33
Thanks. I'll request registration with the following edit, to conform better to the prevailing style:

[2022-10-05 06:54] mnot commented on #33
Also, note that we'll be registering `siptrunkingcapability` not `sipTrunkingCapability` (the RFC [requires lowercase](https://httpwg.org/specs/rfc8288.html#header-type)). Is that acceptable, or would you like to use a delimiter -- e.g., `sip-trunking-capability`?

[2022-10-05 16:07] evert commented on #33
Is it a bit weird that the link relationship includes the protocol 'sip'. Shouldn't this be generic + a 'type' to indicate the format; or has that ship sailed with link relationships.

[2022-10-05 21:17] deengi1 commented on #33
@mnot - The all lowercase "siptrunkingcapability" works for us and registration style change looks good,  thanks.

@evert  - This link relationship is tied to a very specific SIP trunking use case under development with the ASAP working group. The relationship name was chosen to be specific as such. Here is a link to the draft if you are interested in taking a look at the use case for SIP auto pee

[2022-10-05 22:36] evert commented on #33
@deengi1 fair enough, I'm pretty far removed from the domain so I wouldn't really be able to recommend a generalized version.

But for the sake of the argument, could it look like this, and why not?

[code]

[2022-10-06 11:05] deengi1 commented on #33
It could look like that, however, "capability" seems extremely generic - in the context of real-time communications - capability could mean many things - media capabilities (codecs, frame-rates, encryption etc.), signaling capabilities (support for extensions of baseline SIP), security capabilities (signaling and media encryption, SDES/DTLS-based media encryption) etc. etc. The term "siptrunkingca

[2022-10-06 20:34] evert commented on #33
@deengi1 I understand but all that additional meaning can/should be conveyed with the media type. As a comparison, take the `author` rel. It tells a consumer that they can follow the link to find more information about the author. It doesn't say what kind of format or the shape of the document at the target.

The most egregious part of this rel is probably the `sip` part. Looking at the list, ther

[2022-10-09 04:39] mnot commented on #44
Thanks for noticing this. Given that link relation types are compared in a case-insensitive fashion, the best path forward is to correct the registry, which IANA has done.

[2022-10-09 04:39] #44 closed

[2022-10-11 22:49] #33 closed

[2022-10-14 11:21] deengi1 opened #46 "Modification request: siptrunkingcapability"
### Relation Name

siptrunkingcapability

### Requested Changes

Change the relation name from "siptrunkingcapability" to "sip-trunking-capability".

### Relationship

Original registrant

### Additional Information

After some debate with the registrants, the hyphen delimited suggestion is more visually appealing. Thanks!

[2022-10-24 23:49] #46 closed, assigned to nobody

[2022-11-11 15:06] tomayac opened #47 "Registration Request: logo-icon"
### Relation Name

logo-icon

### Description

Refers to a logo icon distinct from the (fav)icon representing the link's context.

### Reference

https://github.com/WICG/proposals/issues/79

### Additional Information

The reference URL describes the proposal, it is not a formal definition. Once approved, the formal definition will be published on https://developers.google.com/search/docs/appearan

[2022-11-11 15:15] algermissen commented on #47
Makes sense to me.

[2022-11-17 07:14] mnot commented on #47
Please tell us when that link is live, and we'll go ahead with registration.

[2022-11-17 07:32] tomayac commented on #47
Thanks, @mnot. Just to be sure, you’re talking about https://developers.google.com/search/docs/appearance/publisher-logo-in-search?! We were on purpose as good citizens waiting with publishing it until you all gave us green light. So we can go ahead then?

[2022-11-17 07:32] mnot commented on #47
Yep.

[2022-11-17 07:33] tomayac commented on #47
Perfect then. I’ll inform the team and then get back. 🎉

[2022-11-22 22:08] mnot opened #48 "`search` relation reference is a 404."
Site seems unrelated now. Contacted Amazon OpenSearch; they directed to [this link](https://github.com/dewitt/opensearch/blob/master/opensearch-1-1-draft-6.md).

[2022-11-23 05:31] mnot commented on #48
Result is https://github.com/dewitt/opensearch

[2022-11-23 22:33] #48 closed, assigned to nobody